* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #A0CDF8;
  height: 100vh;
}

.linktienda{
  text-decoration: none;
}
h1{
grid-column: span 2;
display: inline-block;
font-size: 30px;
color: rgb(166, 160, 74);
font-family: 'Courgette', cursive;
margin-left: 50px;
}
.pnombre{
    text-align: center;
    font-size: 50px;
    color: white;
}
.pprecio{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgb(142, 189, 55);
}
.articulos{
display: inline-block;
padding: 40px;
background-color:rgb(166, 160, 74);
border: 10px white solid;
border-radius: 5%;
margin: 50px;
}

.logos{
  object-fit: cover;
  display: grid;
  align-items: center;
  margin: 10px;
  justify-items: center;
}


.div7 {
  grid-area: pastito;
  display: grid;
  background-color: none;
}
/* footer */
.pastito {
  width: 100%;
  height: 12vh;
  margin-top: 15px;
}

footer {
  height: 52px;
  background-color: rgb(166, 160, 74);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas:
  "desarrollo logos";
  align-items: center;

}

#desarrollador{
    color: white;
    font-size: 0.75rem;
    grid-area: desarrollo;
    display: none;
}
.logoJM{
    grid-area: desarrollo;
    margin-left: 15px;
}

footer>ul>li{
    list-style:none;
    padding: 5px;
    border: 2px white solid;
    border-radius: 50%;
    color: #A6A04A;
    background-color: white;
    margin-left: auto;
    justify-items: right;
    margin-right: 10px;
    float:right;
}
.botones a{
  text-decoration: none;
  color: white;
  display: block;
}

@media (min-width:420px){
h1{
font-size: 70px;

}

#desarrollador{
    color: white;
    font-size: 1rem;
    grid-area: desarrollo;
    margin-left: 60px;
    display: inline;
}
}

@keyframes aparecer-menu {
  0% {
    height: 0;
  }
  90% {
    height: 200px;
  }
  95% {
    height: 180px;
  }
  100% {
    height: 210px;
  }
}